.color1{
    color: #20a1ff;
}
.color2{
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
.left{
    text-align: left;
}
.center{
    text-align: center;
}

.button {
    border-radius: 4px;
    background-color: white;
    border: none;
    color: #20a1ff;
    text-align: center;
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    width: 80px;
    height:10px ;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
  }

  .button:hover {background-color: #20a1ff;
    color : white;}
  

  .margin {
    margin: auto;
   
    padding: 218px;
}

.bg{
    background-color:#2092e8;
}
.color2{
    color: white;
}
.size{
    font-family: Verdana, sans-serif;
    font-size: 50px;
    font-weight: normal;
}
.margin1{
    margin-top: -20px;
}
.button1 {
    border-radius: 4px;
    background-color: white;
    border: none;
    color:#8dccf0;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button2{
  border-radius: 4px;
  background-color: #4eb4ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.size2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.size3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.test{
  
   margin-top: 50px;
}
.test1{
    margin-top: -15px;
}
.bg1{
    background-color: #1888da;
}
.marginA {
    margin: auto;
   
    padding: 16px;
}
.logo{
    position: absolute;
    top: 570px;
    left:700px;
}